:root {
    --fuenteprincipal: "Inter", sans-serif;

    --color-verde: hsl(75, 94%, 57%);

    --color-blanco: hsl(0, 0%, 100%);
    --color-grisSuave: hsl(0, 0%, 20%);
    --color-grisMedio: hsl(0, 0%, 12%);
    --color-grisOscuro: hsl(0, 0%, 8%);

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *::after {
    box-sizing: inherit; 
}

body {
    font-family: var(--fuenteprincipal); 
    background-color: var(--color-grisOscuro);
    color: var(--color-blanco);
    font-size: 14px;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* GLOBALES */

a {
    text-decoration: none;
    color: var(--color-blanco);
}
li{
    list-style: none;
}

/* UTILIDADES */

.u-noMargin {
    margin: 0; 
}

/* CONTENIDO PRINCIPAl */
.sociallinks{
    background-color: var(--color-grisMedio);
    width: 34rem;
    height: 61rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sociallinks__persona{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.sociallinks__persona--foto{
    height: 8.8rem;
    width: 8.8rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.sociallinks__persona--foto img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.sociallinks__persona--nombre{
    font-size: 2.4rem;
    font-weight: 600;
}

.sociallinks__persona--ubicacion{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-verde); 
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sociallinks__persona--descripcion{
    font-size: 1.4rem;
    font-weight: 400;
}

.sociallinks__lista {
    height: 100%;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem
}
.sociallinks__lista--elemento{
    display:flex;
    flex-direction: column;
    height: 5rem;
    width: 100%;
    background-color: var(--color-grisSuave);
    border-radius: 1rem;
    justify-content: center;
    
}

.sociallinks__lista--elemento a{
    text-align: center;
    padding: 1.6rem;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

.sociallinks__lista--elemento:hover{
    background-color: var(--color-verde);
}

.sociallinks__lista--elemento a:hover{
    color:black;
}

/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }